# EXERCICIO FEITO COM Rafael Medina E João Vitor Marques

In [2]:
import pandas as pd

In [3]:
musicas = {
    'id_musica' :[1,2,3,4,5],
    'nome_musica' : ['Sweet Home Alabama', 'Bohemian Rhapsody', 'Hotel California', 'Hey Jude', 'I Will Always Love You'],
    'artista' : ['Lynyrd Skynyrd', 'Queen', 'Eagles', 'The Beatles', 'Whitney Houston'],
    'genero' : [ 'Southern Rock', 'Rock', 'Rock', 'Rock', 'Pop/R&B'],
    'duracao' : [4.35, 5.55, 6.30, 7.11, 4.30]
            }
df_musicas = pd.DataFrame(musicas)
df_musicas

   id_musica             nome_musica          artista         genero  duracao
0          1      Sweet Home Alabama   Lynyrd Skynyrd  Southern Rock     4.35
1          2       Bohemian Rhapsody            Queen           Rock     5.55
2          3        Hotel California           Eagles           Rock     6.30
3          4                Hey Jude      The Beatles           Rock     7.11
4          5  I Will Always Love You  Whitney Houston        Pop/R&B     4.30

In [4]:
reproducoes = {
    'id_reproducao': [1, 2, 3, 4, 5],
    'id_musica': [1, 2, 3, 4, 5],  
    'data_reproducao': ['24-06-1974', '31-10-1975', '21-03-1977', '30-08-1968', '23-11-1992'],
    'duracao_reproducao': [3.5, 5.0, 6.0, 2.5, 4.0]
}
df_reproducoes = pd.DataFrame(reproducoes)
df_reproducoes

   id_reproducao  id_musica data_reproducao  duracao_reproducao
0              1          1      24-06-1974                 3.5
1              2          2      31-10-1975                 5.0
2              3          3      21-03-1977                 6.0
3              4          4      30-08-1968                 2.5
4              5          5      23-11-1992                 4.0

# ✦ Simule 5 reproduções de diferentes músicas, associando o id_musica com a data e a duração reproduzida.

In [5]:
df_completo = pd.merge(df_reproducoes, df_musicas, on ='id_musica')

In [6]:
df_completo

,id_reproducao,id_musica,data_reproducao,duracao_reproducao,nome_musica,artista,genero,duracao
0,1,1,24-06-1974,3.5,Sweet Home Alabama,Lynyrd Skynyrd,Southern Rock,4.35
1,2,2,31-10-1975,5.0,Bohemian Rhapsody,Queen,Rock,5.55
2,3,3,21-03-1977,6.0,Hotel California,Eagles,Rock,6.30
3,4,4,30-08-1968,2.5,Hey Jude,The Beatles,Rock,7.11
4,5,5,23-11-1992,4.0,I Will Always Love You,Whitney Houston,Pop/R&B,4.30

# ✦ Atualize o dataframe de reproducoes, removendo um registro para simular que nem todas as músicas foram reproduzidas.

In [7]:
df_reproducoes_atualizado = df_reproducoes[df_reproducoes['id_reproducao'] != 3]

df_reproducoes_atualizado

   id_reproducao  id_musica data_reproducao  duracao_reproducao
0              1          1      24-06-1974                 3.5
1              2          2      31-10-1975                 5.0
3              4          4      30-08-1968                 2.5
4              5          5      23-11-1992                 4.0

# ✦ Realize o merge novamente e identifique os valores faltantes.

In [8]:
df_completo_atualizado = pd.merge(df_reproducoes_atualizado, df_musicas, on='id_musica', how='outer')

df_completo_atualizado

,id_reproducao,id_musica,data_reproducao,duracao_reproducao,nome_musica,artista,genero,duracao
0,1.0,1,24-06-1974,3.5,Sweet Home Alabama,Lynyrd Skynyrd,Southern Rock,4.35
1,2.0,2,31-10-1975,5.0,Bohemian Rhapsody,Queen,Rock,5.55
2,NaN,3,NaN,NaN,Hotel California,Eagles,Rock,6.30
3,4.0,4,30-08-1968,2.5,Hey Jude,The Beatles,Rock,7.11
4,5.0,5,23-11-1992,4.0,I Will Always Love You,Whitney Houston,Pop/R&B,4.30

# ✦ Preencha os valores faltantes com "Não Reproduzida"..

In [9]:
df_completo_atualizado['data_reproducao'] = df_completo_atualizado['data_reproducao'].fillna('Não Reproduzida')
df_completo_atualizado['duracao_reproducao'] = df_completo_atualizado['duracao_reproducao'].fillna('Não Reproduzida')


resultado_final = df_completo_atualizado[['nome_musica', 'artista', 'duracao_reproducao']]

resultado_final

              nome_musica          artista duracao_reproducao
0      Sweet Home Alabama   Lynyrd Skynyrd                3.5
1       Bohemian Rhapsody            Queen                5.0
2        Hotel California           Eagles    Não Reproduzida
3                Hey Jude      The Beatles                2.5
4  I Will Always Love You  Whitney Houston                4.0

# Qual o gênero de música mais reproduzido? Use agrupamento para calcular isso.

In [13]:
genero_mais_reproduzido = df_completo_atualizado.groupby('genero')['duracao_reproducao'].count().idxmax()
print(f"O gênero de música mais reproduzido é: {genero_mais_reproduzido}")

O gênero de música mais reproduzido é: Rock

# Qual o total de minutos de música reproduzidos?

In [16]:

df_completo_atualizado['duracao_reproducao'] = pd.to_numeric(df_completo_atualizado['duracao_reproducao'], errors='coerce')

total_minutos_reproduzidos = df_completo_atualizado['duracao_reproducao'].sum(skipna=True)

print(f"O total de minutos de música reproduzidos é: {total_minutos_reproduzidos:.2f} minutos")

O total de minutos de música reproduzidos é: 15.00 minutos