In [9]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### ✦ Crie uma lista com 5 nomes de filmes que você goste.

In [5]:
import pandas as pd

filmes = ['O Senhor dos Anéis: A Sociedade do Anel', 'Matrix', 'Inception', 'Interstellar', 'Parasita']

### ✦ Crie uma 2ª lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;

In [12]:
anos = [2001, 1999, 2010, 2014, 2019]

meus_filmes = pd.DataFrame({
    'Filme': filmes,
    'Ano': anos
})

meus_filmes

                                     Filme   Ano
0  O Senhor dos Anéis: A Sociedade do Anel  2001
1                                   Matrix  1999
2                                Inception  2010
3                             Interstellar  2014
4                                 Parasita  2019

### ✦ Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles

In [13]:
meus_filmes['Nota'] = [10, 9, 9.5, 9, 8.5]
meus_filmes

                                     Filme   Ano  Nota
0  O Senhor dos Anéis: A Sociedade do Anel  2001  10.0
1                                   Matrix  1999   9.0
2                                Inception  2010   9.5
3                             Interstellar  2014   9.0
4                                 Parasita  2019   8.5

### ✦ Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.

In [15]:
series = ['Breaking Bad', 'Stranger Things', 'Game of Thrones', 'The Office', 'Friends']
anos_series = [2008, 2016, 2011, 2005, 1994]
notas_series = [10, 9, 8.5, 9, 8]

minhas_series = pd.DataFrame({
    'Série': series,
    'Ano': anos_series,
    'Nota': notas_series
})

minhas_series

animes = ['Naruto', 'Attack on Titan', 'Dragon Ball Z', 'One Piece', 'Avatar: The Last Airbender']
anos_animes = [2002, 2013, 1989, 1999, 2005]
notas_animes = [9, 9.5, 8.5, 9, 10]

meus_animes = pd.DataFrame({
    'Anime/Desenho': animes,
    'Ano': anos_animes,
    'Nota': notas_animes
})

meus_animes

                Anime/Desenho   Ano  Nota
0                      Naruto  2002   9.0
1             Attack on Titan  2013   9.5
2               Dragon Ball Z  1989   8.5
3                   One Piece  1999   9.0
4  Avatar: The Last Airbender  2005  10.0

### ✦ Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.

In [16]:
meus_filmes.to_csv('filmes.csv')
meus_filmes.to_json('filmes.json')
meus_filmes.to_html('filmes.html')

minhas_series.to_csv('series.csv')
minhas_series.to_json('series.json')
minhas_series.to_html('series.html')

meus_animes.to_csv('animes.csv')
meus_animes.to_json('animes.json')
meus_animes.to_html('animes.html')

### ✦ Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.

In [17]:
df_concatenado = pd.concat([meus_filmes, minhas_series, meus_animes], axis=1)
df_concatenado

,Filme,Ano,Nota,Série,Ano,Nota,Anime/Desenho,Ano,Nota
0,O Senhor dos Anéis: A Sociedade do Anel,2001,10.0,Breaking Bad,2008,10.0,Naruto,2002,9.0
1,Matrix,1999,9.0,Stranger Things,2016,9.0,Attack on Titan,2013,9.5
2,Inception,2010,9.5,Game of Thrones,2011,8.5,Dragon Ball Z,1989,8.5
3,Interstellar,2014,9.0,The Office,2005,9.0,One Piece,1999,9.0
4,Parasita,2019,8.5,Friends,1994,8.0,Avatar: The Last Airbender,2005,10.0