 # Exercício 16
## Considere o dataset 16_dataset_notas_alunos.csv (ver nos recursos da aula no Discord). Então, extraia as seguintes informações:

In [2]:
import pandas as pd

notas_alunos = pd.read_csv('16_dataset_notas_alunos.csv')
notas_alunos

    Aluno  Idade  Matemática  Ciências
0       1     17          67        60
1       2     15          83        78
2       3     17          70        61
3       4     17          76        85
4       5     15          67        91
..    ...    ...         ...       ...
95     96     15          87        71
96     97     15          82        81
97     98     17          96        81
98     99     15          91        89
99    100     15          92        97

[100 rows x 4 columns]

## 1. Calcule a média das notas em Matemática e Ciências.

In [3]:
media_matematica = notas_alunos['Matemática'].mean()
print(f'A média das notas de Matemática é {media_matematica}.')

A média das notas de Matemática é 81.57.

In [4]:
media_ciencias = notas_alunos['Ciências'].mean()
print(f'A média das notas é {media_ciencias}.')

A média das notas é 80.26.

## 2. Encontre a mediana das notas em Matemática e Ciências.

In [6]:
mediana_matematica = notas_alunos['Matemática'].median()
print(f'A mediana de Matemática é {mediana_matematica}.')

A mediana de Matemática é 84.5.

In [7]:
mediana_ciencias = notas_alunos['Ciências'].median()
print(f'A mediana de Ciências é {mediana_ciencias}.')

A mediana de Ciências é 79.5.

## 3. Determine a moda das notas em Matemática e Ciências.

In [9]:
moda_matematica = notas_alunos['Matemática'].mode()[0]
print(f'A moda de Matemática é {moda_matematica}.')

A moda de Matemática é 98.

In [10]:
moda_ciencias = notas_alunos['Ciências'].mode()[0]
print(f'A moda de Ciências é {moda_ciencias}.')

A moda de Ciências é 92.

# 4. Calcule a amplitude das notas em Matemática e Ciências.

In [11]:
amplitude_matematica = notas_alunos['Matemática'].max() - notas_alunos['Matemática'].min()
print(f'A amplitude de Matemática é {amplitude_matematica}.')

A amplitude de Matemática é 40.

In [13]:
amplitude_ciencias = notas_alunos['Ciências'].max() - notas_alunos['Ciências'].min()
print(f'A amplitude de Ciências é {amplitude_ciencias}.')

A amplitude de Ciências é 40.

## 5. Calcule a variância das notas em Matemática e Ciências.

In [15]:
variancia_matematica = notas_alunos['Matemática'].var()
print(f'A variância de Matemática é {variancia_matematica}')

A variância de Matemática é 160.75262626262628

In [16]:
variancia_ciencias = notas_alunos['Ciências'].var()
print(f'A variância de Ciências é {variancia_ciencias}')

A variância de Ciências é 150.1539393939394

## 6. Calcule o desvio padrão das notas em Matemática e Ciências.

In [17]:
desvio_padrao_matematica = notas_alunos['Matemática'].std()
print(f'O desvio padrão de Matemática é {desvio_padrao_matematica}')

O desvio padrão de Matemática é 12.678825902370704

In [18]:
desvio_padrao_ciencias = notas_alunos['Ciências'].std()
print(f'O desvio padrão de Ciências é {desvio_padrao_ciencias}')

O desvio padrão de Ciências é 12.253731651784259

## 7. Calcule a covariância entre as notas de Matemática e Ciências.

In [19]:
covariancia = notas_alunos[['Matemática', 'Ciências']].cov().iloc[0, 1]
print(f'A covariância de Matemática e Ciências é {covariancia}.')

A covariância de Matemática e Ciências é 9.133131313131308.

## 8. Calcule a correlação entre as notas de Matemática e Ciências.

In [20]:
correlacao = notas_alunos[['Matemática', 'Ciências']].corr().iloc[0, 1]
print(f'A correlação de Matemática e Ciências é {correlacao}.')

A correlação de Matemática e Ciências é 0.058785781765414935.