In [1]:
import pandas as pd

## Normalize o atributo Rendimentos utilizando Re-escala [0,1].

In [3]:

# Supondo que você tenha um DataFrame df com a coluna 'Rendimentos'
df = pd.DataFrame({
    'Rendimentos': [17729.80, 41016.00, 26909.20, 22522.80, 57880.70, 16497.30, 38446.60, 15538.80, 12640.30, 41034.00]
})

# Encontrar os valores mínimo e máximo da coluna 'Rendimentos'
min_value = df['Rendimentos'].min()
max_value = df['Rendimentos'].max()

# Aplicar a fórmula de normalização
df['Rendimentos_Normalizados'] = (df['Rendimentos'] - min_value) / (max_value - min_value)

df

   Rendimentos  Rendimentos_Normalizados
0      17729.8                  0.112499
1      41016.0                  0.627220
2      26909.2                  0.315402
3      22522.8                  0.218444
4      57880.7                  1.000000
5      16497.3                  0.085256
6      38446.6                  0.570426
7      15538.8                  0.064069
8      12640.3                  0.000000
9      41034.0                  0.627618

## Encontra o menor e o maior valor do atributo e atribui os valores extremos da nova escala.

In [5]:

# Supondo que você tenha um DataFrame df com a coluna 'Rendimentos'
df = pd.DataFrame({
    'Rendimentos': [17729.80, 41016.00, 26909.20, 22522.80, 57880.70, 16497.30, 38446.60, 15538.80, 12640.30, 41034.00]
})

# Encontrar os valores mínimo e máximo da coluna 'Rendimentos'
min_value = df['Rendimentos'].min()
max_value = df['Rendimentos'].max()

# Aplicar a fórmula de normalização
df['Rendimentos_Normalizados'] = (df['Rendimentos'] - min_value) / (max_value - min_value)

# Atribuir os valores extremos da nova escala
df.loc[df['Rendimentos'] == min_value, 'Rendimentos_Normalizados'] = 0
df.loc[df['Rendimentos'] == max_value, 'Rendimentos_Normalizados'] = 1

df

   Rendimentos  Rendimentos_Normalizados
0      17729.8                  0.112499
1      41016.0                  0.627220
2      26909.2                  0.315402
3      22522.8                  0.218444
4      57880.7                  1.000000
5      16497.3                  0.085256
6      38446.6                  0.570426
7      15538.8                  0.064069
8      12640.3                  0.000000
9      41034.0                  0.627618

## Normalize os seguintes valores Re-escala [0,1] e padronização N(0,1)

In [7]:
import numpy as np


# Valores fornecidos
valores = np.array([3, 9, 5, 11, 5, 7])

# Re-escala [0,1]
min_val = valores.min()
max_val = valores.max()
valores_reescala = (valores - min_val) / (max_val - min_val)

# Padronização N(0,1)
media = valores.mean()
desvio_padrao = valores.std()
valores_padronizados = (valores - media) / desvio_padrao

# Criando DataFrame para exibir os resultados
df_resultados = pd.DataFrame({
    'Valores': valores,
    'Re-escala [0,1]': valores_reescala,
    'Padronização N(0,1)': valores_padronizados
})

df_resultados

   Valores  Re-escala [0,1]  Padronização N(0,1)
0        3             0.00            -1.364382
1        9             0.75             0.868243
2        5             0.25            -0.620174
3       11             1.00             1.612452
4        5             0.25            -0.620174
5        7             0.50             0.124035