# Média, mediana, moda, variância e desvio padrão

In [6]:
import pandas as pd

# Criando um DataFrame com as notas dos estudantes
notas = {
    'Estudantes': ['A', 'B', 'C', 'D', 'E'],
    'Notas': [8, 7, 8, 9, 6]
}

df = pd.DataFrame(notas)

# Calculando as medidas estatísticas
media = df['Notas'].mean()
mediana = df['Notas'].median()
moda = df['Notas'].mode()[0]  # Moda: o Pandas retorna uma série, pegamos o primeiro valor
variancia = df['Notas'].var() 
desvio_padrao = df['Notas'].std() 
amplitude = df['Notas'].max() - df['Notas'].min()

# Exibindo os resultados
print(f"Média: {media}")
print(f"Mediana: {mediana}")
print(f"Moda: {moda}")
print(f"Variância: {variancia}")
print(f"Desvio Padrão: {desvio_padrao}")
print(f"Amplitude: {amplitude}")

Média: 7.6
Mediana: 8.0
Moda: 8
Variância: 1.3
Desvio Padrão: 1.140175425099138
Amplitude: 3

---

# Covariância e Correlação

In [7]:
import pandas as pd

# Criando um DataFrame com altura e peso dos estudantes
dados = {
    'Estudantes': ['1', '2', '3', '4', '5'],
    'Altura': [160, 170, 175, 180, 165],  # em cm
    'Peso': [50, 65, 70, 80, 55]          # em kg
}

df = pd.DataFrame(dados)

# Calculando a covariância
covariancia = df[['Altura', 'Peso']].cov().iloc[0, 1]

# Calculando a correlação
correlacao = df[['Altura', 'Peso']].corr().iloc[0, 1]

# Exibindo os resultados
print(f"Covariância entre Altura e Peso: {covariancia}")
print(f"Correlação entre Altura e Peso: {correlacao}")

Covariância entre Altura e Peso: 93.75
Correlação entre Altura e Peso: 0.9933992677987828

In [8]:
df_alturas_pesos = df[['Altura', 'Peso']] # Eis o subdataframe que a gente gera com alturas e pesos
df_alturas_pesos

   Altura  Peso
0     160    50
1     170    65
2     175    70
3     180    80
4     165    55

In [9]:
df_alturas_pesos.cov() # visualizando a tabela de covariância de altura x peso

        Altura    Peso
Altura   62.50   93.75
Peso     93.75  142.50

In [10]:
df_alturas_pesos.corr() # visualizando a tabela de correlação de altura x peso

          Altura      Peso
Altura  1.000000  0.993399
Peso    0.993399  1.000000